:root {
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: oklch(0.145 0 0);

  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: #030213;
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;

  --muted: #ececf0;
  --muted-foreground: #717182;

  --accent: #e9ebef;
  --accent-foreground: #030213;

  --destructive: #d4183d;
  --destructive-foreground: #ffffff;

  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --ring: oklch(0.708 0 0);

  --switch-background: #cbced4;

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  transition: background-color 0.05s linear;
}
.dark body {
  background-color: var(--sidebar-foreground);
}

section {
  width: 100%;
}

code,
kbd,
samp,
pre,
var,
textarea,
input,
select,
button {
  font: inherit;
  font-size: 1em;
  white-space: normal;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

input,
textarea {
  touch-action: manipulation;
}

fieldset {
  border: none;
}

dfn,
i,
cite,
address,
em {
  font-style: normal;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  pointer-events: none;
  user-select: none;
}

img,
a img {
  border: 0;
  max-width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  vertical-align: top;
  text-align: left;
}

ul,
ol,
menu,
dir {
  list-style: none;
  padding: 0;
  margin: 0;
}

sub,
sup {
  vertical-align: baseline;
}

font {
  color: inherit !important;
  font: inherit !important;
}
marquee {
  overflow: inherit !important;
  -moz-binding: none;
}
nobr {
  white-space: normal;
}
